@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.p-30 {
  padding: 30px;
}
